html body {
  background-color: #C8C8C8
}
p{
  color:white;
}
.container {
  width: 800px;
  height: 500px;
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
}
.carousel {
  height: 245px;
  text-align: center;
  color: black;
  background-color: green;
}
.contenuR {
  height: 245px;
  background-color: white;
}
.caseB {
  background-color: blue;
  height: 125px;
}
.clr {
  background-color: white;
  height: 0px;
  color: black;
}
.caseW {
  background-color: red;
  height: 250px;
  color:black;
}
